{% extends "base2.html" %}
{% from "macro_pagination.html" import pagination %}
{% block title %}Admin Page{% endblock %}

{% block content %}

                <!--Content-->
                <div class="col-lg-10">
                    <!--Content Wrapper-->
                    <div class="box-content">
                        <!--Content Header-->
                        <div class="box-content-header bg-primary">
                            <h4 class="text-white text-center">Product Brands</h4>
                        </div>
                        {% for mess in get_flashed_messages() %}
                            <div class="alert alert-warning alert-dismissible fade show mt-3" role='alert'>
                              <button type="button" class="fade close" data-dismiss='alert' aria-label='Close'>
                              <span aria-hidden="false">&times;</span>
                              </button>
                              {{mess}}
                            </div>
                        {% endfor %}
                        <!--/Content Header-->

                        <!--Content Body-->
                        <div class="box-body">
                            <!--Nav Search-->
                          <nav class="navbar navbar-light float-right p-3">
                                <form class="form-inline" method="POST">
                                    {{form.hidden_tag()}}
                                    {{form.search(class="form-control mr-sm-2 border-primary")}}
                                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Cari</button>
                                </form>
                            </nav>
                            <!--/Nav Search-->

                            <!--Table-->
                            <div class="p-3">
                                <a href="{{url_for('brands.add')}}" class="btn btn-primary" >Add Brand</a>
                                <table id="example" class="table table-responsive-md table-striped table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="text-primary font-weight-bold">#</th>
                                            <th class="text-primary font-weight-bold">Brand Name</th>
                                            <th class="text-primary font-weight-bold"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for brand in brand_list.items %}
                                            <tr class="text-center">
                                                <td>{{brand.id}}</td>
                                                <td>{{brand.brandname}}</td>
                                                <td class="text-center">
                                                    <a class="btn btn-warning" href="{{url_for('brands.edit',brand_id=brand.id)}}">Edit</a>
                                                    <a class="btn btn-danger" href="{{url_for('brands.delete',brand_id=brand.id)}}">Hapus</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!--/Table-->

                            <!--Pagination-->
                          {{pagination(brand_list,'brands.brand')}}
                            <!--/Pagination-->
                        </div>
                        <!--/Content Body-->
                    </div>
                    <!--/Content Wrapper-->
                </div>
                <!--/Content-->
            </div>
        </div>
        <!--Container-->
    </section>
    <!--Sidebar Akhir-->


{% endblock %}
