{% extends "bootstrap/base.html" %}

{% block title %}Register{% endblock %}
{% block header %}
  <div id="header" class="py-2 bg-primary text-white">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <h2 style="margin-top: 10px;">
                      <i class="fas fa-user"></i> FCOM Admin</h2>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block content %}

<div id="register">
    <div class="container">
        <div class="row my-5 py-5">
            <div class="col-md-5 mx-auto">
                <div class="box-content">
                    <div class="box-content-header bg-primary text-white">
                        <h4>Register User</h4>
                    </div>
                    {% for mess  in get_flashed_messages() %}
                        <div class="alert alert-warning alert-dismissible fade show mt-3" role='alert'>
                          <button type="button" class="fade close" data-dismiss='alert' aria-label='Close'>
                          <span aria-hidden="false">&times;</span>
                          </button>
                          {{mess}}
                        </div>
                    {% endfor %}
                    <form  action="{{url_for('register')}}" method="POST">
                        {{form.hidden_tag()}}
                        <div class="box-content-body">
                          <div class="form-group">
                              <label for="username">{{form.username.label}}</label>
                              {{form.username(class="form-control form-control-md")}}
                          </div>
                          <div class="form-group">
                              <label for="password">{{form.password.label}}</label>
                              {{form.password(class="form-control form-control-md")}}
                          </div>

                          <div class="form-group">
                              <label for="confirmpassword">{{form.confirm_password.label}}</label>
                              {{form.confirm_password(class="form-control form-control-md")}}
                          </div>
                          {% for error in form.password.errors %}
                            <span class="badge badge-danger">{{ error}}</span>
                          {% endfor %}

                          <a href={{url_for('register')}} style="text-decoration: none;"><button
                                  class="btn btn-primary btn-block" type="submit">Masuk</button></a>
                          <p class="text-center mt-3 mb-0"><a href="#" style="text-decoration: none;">Lupa
                                  Username/Password?</a>
                          </p>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
