<!--Sidebar-->
<section id="sidebar" class="mt-2 pt-2">
    <div class="container-fluid">
        <div class="row">
            <!--Sidebar Wrapper-->
            <div class="col-lg-2 pb-3">
                <div class="box-sidebar bg-white">
                    <!--Sidebar Header-->
                    <div class="box-sidebar-header bg-primary">
                        <h4 class="text-white text-center">Main Nav</h4>
                    </div>
                    <!--/Sidebar Header-->

                    <!--Sidebar Body-->
                    <div class="box-body">
                        <div class="pt-3">
                            <ul class="list-unstyled components">
                              {% if current_user.role == 'admin' %}
                                <li class="py-2 b-b">
                                  <a href="{{url_for('users.user')}}" style="text-decoration: none;"><i
                                          class="fas fa-window-restore p-2 fa-1x"></i> Users</a>
                                </li>
                              {% endif %}

                                <li class="py-2 b-b">
                                    <a href="{{url_for('groups.group')}}" style="text-decoration: none;"><i
                                            class="fas fa-plus-square p-2 fa-1x"></i> Groups</a>
                                </li>
                                <li class="py-2">
                                    <a href="{{url_for('brands.brand')}}" style="text-decoration: none;"><i
                                            class="fas fa-plus-square p-2 fa-1x"></i> Brands</a>
                                </li>
                                <li class="py-2">
                                    <a href="{{url_for('products.product')}}" style="text-decoration: none;"><i
                                            class="fas fa-plus-square p-2 fa-1x"></i> Products</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/Sidebar Body-->
                </div>
            </div>
            <!--/Sidebar Wrapper-->
