body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.box-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #007bff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(126, 142, 177, 0.12);
}

.box-logo {
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(126, 142, 177, 0.12);
}

.box-content-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid #007bff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box-content-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem
}

.box-sidebar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #007bff;
    border-radius: 10px;
}

.box-sidebar-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid #007bff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.b-b {
    border-bottom: 1px solid;
    color: #007bff;
}

.file {
    visibility: hidden;
    position: absolute;
}

#footer {
    background-color: #343a40;
    color: #fff;
    margin-top: 50px;
    box-shadow: 10px 10px 20px #007bff;
    border-top: 3px solid #007bff;
}
