{% extends "base2.html" %}
{% block title %}Edit Product{% endblock %}

{% block content %}
                <!--Content-->
                <div class="col-lg-10">
                    <!--Content Wrapper-->
                    <div class="box-content">
                        <!--Content Header-->
                        <div class="box-content-header bg-primary">
                            <h4 class="text-white text-center">Edit Products</h4>
                        </div>
                        <!--/Content Header-->

                        <!--Content Body-->
                        <div class="box-body">
                            <!--Nav Search-->

                            {% for mess  in get_flashed_messages() %}
                                <div class="alert alert-warning alert-dismissible fade show mt-3" role='alert'>
                                  <button type="button" class="fade close" data-dismiss='alert' aria-label='Close'>
                                  <span aria-hidden="false">&times;</span>
                                  </button>
                                  {{mess}}
                                </div>
                            {% endfor %}
                            <nav class="navbar navbar-light float-right p-3">

                            </nav>
                            <!--/Nav Search-->

                            <!--Table-->
                            <form  action="{{url_for('products.edit',product_id=product_select.id)}}" method="POST" enctype="multipart/form-data">
                                {{form.hidden_tag()}}
                                <div class="box-content-body">
                                  <div class="form-group">
                                      {% for error in form.name.errors %}
                                        <span class="badge badge-danger">{{ error}}</span>
                                      {% endfor %}
                                      <label for="productname">{{form.name.label}}</label>
                                      {{form.name(class="form-control form-control-md")}}
                                  </div>
                                  <div class="form-group">
                                      {% for error in form.photo.errors %}
                                        <span class="badge badge-danger">{{ error}}</span>
                                      {% endfor %}
                                      <label for="productphoto">{{form.photo.label}}</label>
                                      {{form.photo(class="form-control form-control-md")}}
                                      <img src="{{foto}}">
                                  </div>
                                  <div class="form-group">
                                      {% for error in form.price.errors %}
                                        <span class="badge badge-danger">{{ error}}</span>
                                      {% endfor %}
                                      <label for="productprice">{{form.price.label}}</label>
                                      {{form.price(class="form-control form-control-md")}}
                                  </div>

                                <button class="btn btn-danger btn-block" type="submit">Update</button>
                            </div>
                            </form>
                            <!--/Table-->
                          </div>
                        <!--/Content Body-->
                    </div>
                    <!--/Content Wrapper-->
                </div>
                <!--/Content-->
              </div>
          </div>
          <!--Container-->
      </section>
      <!--Sidebar Akhir-->
{% endblock %}
