{% if current_user.is_authenticated %}
  <h1>You already login , please go to </h1> <a href="{{url_for('admin')}}" class="btn btn-success">admin page</a>
{% else %}
  {% extends "base2.html" %}

  {% block title %}Login{% endblock %}


  {% block content %}


  <div id="header" class="py-2 bg-primary text-white">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <h2 style="margin-top: 10px;">
                      <i class="fas fa-user"></i> FCOM Admin</h2>
              </div>
          </div>
      </div>
  </div>

  <!--Login-->
  <div id="login">
      <div class="container">
          <div class="row my-5 py-5">
              <div class="col-md-5 mx-auto">
                  <div class="box-content">
                      <div class="box-content-header bg-primary text-white">
                          <h4>Account Login</h4>
                      </div>
                      {% for mess  in get_flashed_messages() %}
                          <div class="alert alert-warning alert-dismissible fade show mt-3" role='alert'>
                            <button type="button" class="fade close" data-dismiss='alert' aria-label='Close'>
                            <span aria-hidden="false">&times;</span>
                            </button>
                            {{mess}}
                          </div>
                      {% endfor %}
                      <form action="{{url_for('login')}}" method="POST">
                        {{form.hidden_tag()}}
                        <div class="box-content-body">
                            <div class="form-group">
                                <label for="username">{{form.username.label}}</label>
                                {{form.username(class="form-control form-control-md")}}
                            </div>
                            <div class="form-group">
                                <label for="password">{{form.password.label}}</label>
                                {{form.password(class="form-control form-control-md")}}
                            </div>

                            <a href={{url_for('login')}} style="text-decoration: none;"><button
                                    class="btn btn-primary btn-block" type="submit">Masuk</button></a>

                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--Login Akhir-->




  {% endblock %}

{% endif %}
